<script>
	import { getId } from '$lib/utils/index.js'

	/**
	 * @typedef {(import("./types.d.ts").DirectusFile|import("./types.d.ts").DirectusFile["id"])} Picture
	 */

	/**
	 * @type {?Picture}
	 * Image src - defaults to null
	 */
	export let image = null

	/*
	 * Alt in case image is a string
	 * */

	export let alt =
		typeof image === 'string'
			? 'Description not provided'
			: image.description ?? 'Description not provided'
	/**
	 * Set a pixel size limit for assets, defaults to 3000
	 */
	export let sizeLimit = 3000
	/**
	 * Enable for the component to expect animated webp and gifs, skipping optimisation, defaults to false
	 */
	export let animated = false
	/**
	 * Set the image fit, defaults to cover
	 */
	export let fit = 'cover'
	/**
	 * Set an image to preload before the image is fully loaded, defaults to favicon
	 */
	export let preloadImageSrc = '/favicon.png'
	/**
	 * @type {'lazy'|'eager'}
	 * Loading defaults to lazy
	 */
	export let loading = 'lazy'
	/**
	 * Append the filename to the image request? defaults to false
	 */
	export let filename = false
	/**
	 * Set a fallback image, it defaults to a standard jpg
	 */
	export let fallbackQuery = '?width=1024&quality=80&format=jpg'
	/**
	 * @type {{key:string;value:string|number}[]} - Send custom attributes to the image container, doing this instead of ...$$restProps to check performance...
	 */
	export let identifiers = []
	/**
	 *
	 * Set the endpoint where to fetch the images from, defaults to /assets/
	 *
	 */
	export let endpoint = '/assets/'

	/**
	 * notification when image is null
	 */
	export let errorNotification = `Oop... this image doesn't exist`

	/**
	 * @type {{format:"avif"|"jpg"|"png"|"webp"|"tiff";sizeLimit:number}[]} - One of the allowed transformations plus its file size limit in bytes
	 *
	 */
	export let imageFormats = [
		{
			format: 'avif',
			sizeLimit: 400000
		},
		{
			format: 'webp',
			sizeLimit: 400000
		},
		{
			format: 'png',
			sizeLimit: 200000
		},
		{
			format: 'jpeg',
			sizeLimit: 150000
		}
	]

	/*
	 * Enable debug - defaults to false
	 */
	export let debug = false

	/**
	 * @param {number[]} - Image breakpoints to generate the images from
	 */
	export let breakpoints = [128, 256, 512, 768, 1280]

	$: img = createImage(image)
	let loaded = false
	/**
	 * If image width limit is less than 1 or more breakpoints skip gennerating the string for those
	 * @param {number[]} bps
	 * @param {number} limit
	 * @returns {number[]}
	 */

	function parseBreakpoints(bps, limit) {
		const reduced = bps.reduce((acc, n, i) => {
			if (n < limit) {
				acc.push(n)
			}
			if (n > limit && !acc.includes(limit)) {
				acc.push(limit)
			}
			if (i === bps.length - 1 && !acc.includes(limit)) {
				acc.push(limit)
			}
			return acc
		}, [])
		return reduced
	}

	/**
	 * @param {Picture} image
	 *
	 */
	function createImage(image) {
		if (!image) {
			return
		}
		const ident = getId()
		if (typeof image === 'string') {
			return {
				src: `${endpoint}${image}`,
				ident,
				alt
			}
		}
		let sources = []
		const { height, width, filesize, id, type, title } = image
		const availableWidth = parseBreakpoints(breakpoints, width > sizeLimit ? sizeLimit : width)
		let useOriginal =
			imageFormats.find((a) => a.format === type.replace('image/', ''))?.sizeLimit > filesize
				? true
				: false
		if (
			animated &&
			(type.replace('image/', '') === 'webp' || type.replace('image/', '') === 'gif')
		) {
			useOriginal = true
		}
		let src = filename ? `${endpoint}${id}/${image.filename_download}` : `${endpoint}${id}`
		if (useOriginal && type) src += `.${type.replace('image/', '')}`
		if (!useOriginal) {
			sources = imageFormats.reduce((acc, format) => {
				const set = availableWidth.reduce((acc, size, index) => {
					acc += `${src}.${format.format}?format=${format.format}&width=${size} ${size}w${index === availableWidth.length - 1 ? '' : ', '}`
					return acc
				}, '')
				acc.push({ type: `image/${format.format}`, srcset: set })
				return acc
			}, [])
		}
		return {
			src,
			sources,
			height,
			width,
			filesize,
			id,
			type,
			alt,
			title,
			ident,
			useOriginal
		}
	}

	/**
	 * @function checkLoad
	 * @param {HTMLElement} el
	 * @param {boolean} _loaded
	 */

	function checkLoad(el, _loaded, buff) {
		if (!el) {
			el = document.getElementById(`img-${img.ident}`)
		}
		if (_loaded || buff > 1000) {
			loaded = _loaded
			return
		}
		const isLoaded = el.complete
		setTimeout(() => {
			return checkLoad(el, isLoaded, (buff += 100))
		}, buff)
	}
</script>

{#if image === null}
	<p>{errorNotification}</p>
{:else if typeof image === 'string'}
	<img
		src={img.src}
		style:--object-fit={fit}
		id="img-{img.ident}"
		alt={img.alt ?? alt}
		use:checkLoad
	/>
{:else}
	<div id="picture-container-{img.ident}" class="picture-container">
		<picture id="picture-{img.ident}" class="picture-element" class:hide={!loaded}>
			{#if img.useOriginal}
				<source type={img.type} srcset={img.src} />
			{:else}
				{#each img.sources as source}
					<source type={source.type} srcset={source.srcset} />
				{/each}
			{/if}
			<img
				use:checkLoad
				id="img-{img.ident}"
				alt={img.alt}
				crossorigin=""
				style:--object-fit={fit}
				width={img.width}
				height={img.height}
				{loading}
				decoding="async"
				src="{img.src}{fallbackQuery}"
			/>
		</picture>
		<div id="preimage-container-{img.ident}" class="preimage-element" class:hide={loaded}>
			<img
				id="preimage-{img.ident}"
				class="pre-image loading"
				src={preloadImageSrc}
				alt="loading image {img.title}"
			/>
		</div>
	</div>
{/if}
{#if debug}
	{#each Object.entries(img) as entries}
		<p>{entries[0]}: {entries[1]}</p>
	{/each}
{/if}

<style>
	picture {
		grid-column-start: 1;
		grid-column-end: 1;
		grid-row-start: 1;
		grid-row-end: 1;
		height: 100%;
		width: 100%;
		transition: all 0.5s ease-in-out;
		opacity: 1;
	}
	img {
		height: 100%;
		width: 100%;
		object-fit: var(--object-fit);
		opacity: 1;
		transition: all 0.5s ease-in-out;
	}
	.hide {
		opacity: 0;
	}
	.picture-container {
		display: grid;
		grid-template-columns: minmax(0, 1fr);
		grid-template-rows: minmax(0, 1fr);
		height: 100%;
		width: 100%;
	}
	.preimage-element {
		position: relative;
		grid-column-start: 1;
		grid-column-end: 1;
		grid-row-start: 1;
		grid-row-end: 1;
		transition: all 0.5s ease-in-out;
		pointer-events: none;
	}
	.pre-image {
		height: 16px;
		width: 16px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		opacity: 1;
	}
	.loading {
		animation: bouncy 1s 1s infinite ease-in-out;
	}
	@keyframes bouncy {
		0% {
			transform: translate(-50%, -50%);
		}
		50% {
			transform: translate(-50%, -100%);
		}
		100% {
			transform: translate(-50%, -50%);
		}
	}
</style>
