<script lang="ts">
	import { getId } from '@arturoguzman/art-ui'
	import InputLayout from './input_layout.svelte'
	import InputLabel from './input_label.svelte'
	import type { Snippet } from 'svelte'
	let {
		layout,
		label_design,
		label_text,
		children
	}: {
		layout: 1 | 2 | 3 | 4
		label_design: 1 | 2 | 3 | 4
		label_text: string
		children?: Snippet<[string]>
	} = $props()
	const id = `input-${getId()}`
	// export { className as class }
</script>

<InputLayout {layout}>
	<svelte:fragment slot="label">
		<InputLabel {id} {label_design} {label_text}></InputLabel>
	</svelte:fragment>
	<svelte:fragment slot="input">
		{@render children?.(id)}
	</svelte:fragment>
</InputLayout>
